body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 900px;
    background: linear-gradient(white, rgb(173, 173, 173));
    margin: auto;
    
}
.glass{
    border: 5px solid black;
    height: 50vw;
    width: 30vw;
    border-radius: 50px;
    border-top: 0;
    border-top-left-radius: 0;
    background: linear-gradient(rgb(187, 118, 118), rgb(141, 14, 14));
    border-top-right-radius: 0;
}
.space{
    /* border: 5px solid black; */
    height: 10%;
    width: 100%;
    background:  rgb(230, 228, 228);
    border-top: 0;
    display: flex;
    justify-content: center;
}
button{
    background: rgba(72, 12, 212, 0.589);
    color: black;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid black;
    width: 60px;
    height: 30px;
}
#guessBar{
    height: 30px;
    width: 500px;
    border: 2px solid black;
}
#bar{
    height: 30px;
    width: 80%;
     background: rgb(170, 170, 170); 
    cursor: pointer;
}
.box{
    height: 60px;
    width: 60px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}
.box2{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}
.value{
    height: 60px;
    width: 60px;
    align-items: center;
    border: 2px solid black;
    display: flex;
    background: yellow;
    justify-content: center;
    border-radius: 25px;
}

/* progress::-webkit-progress-value{
    background: linear-gradient(rgb(187, 118, 118), rgb(141, 14, 14));

} */


    